
{% extends "base.html" %}
{% block content %}
<center><h2 class="georgia ph5 h3 bb w-80 bw1 b--light-blue light-blue i f1">share a comment</h2></center><br>
<div class="mv2 w-60 ph5 georgia" id="post-{{ post.id }}">
  <div>
    {{ post.destination }}
  </div>
  <div>
    {{ post.author.username }}
  </div>
  <div>
    {{ post.description}}
  </div>
</div>

{% for comment in comments %}
<div class="mv2 w-60 ph5 georgia" id="comment-{{ comment.id }}">
  <div>
    {{ comment.comment }}
  </div>
  <div>
    {{ comment.commenter.username }}
  </div>
  <div>
    {{ comment.date_added }}
  </div>
</div>
{% endfor %}

{% if user.is_authenticated %}<form method="POST" action="{% url 'new_comment' post_id=post_id %}" class="mv3 w-60 ph5 georgia">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <button type="submit">Add comment</button>
</form> 

{% endif %}
{% endblock %}