<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}


<div class="h4 ph5 flex items-center bg-light-blue">
    <center><div><a class="link dim dib white b georgia f1 i no-underline" href="{% url 'index' %}">VOYAGER &nbsp<i class="white fas fa-globe-asia fa-1x"></i></a></div></center>
</div>


<div class="flex items-center"> 
    <div><code><a class="ph5 h3 flex items-center link bg-gold dim dib white b georgia f3 lh-copy no-underline" href="{% url 'destinations' %}">Destinations</a></code></div>        
    <div><code><a class="ph5 h3 flex items-center link bg-green dim dib white b georgia f3 lh-copy no-underline" href="{% url 'index' %}">Post</a></code></div>      
    
    
    <div><code><a class="ph5 h3 flex items-center link bg-dark-red dim dib white b georgia f3 lh-copy no-underline" href="">Register</a></code></div>      
    <div>{% if user.is_authenticated %}<code><a class="ph5 flex items-center h3 link bg-light-blue dim dib white b georgia f3 lh-copy no-underline" href="">Logout</a></code>
    {% else %}<code><a class="ph5 h3 flex items-center link bg-light-blue dim dib white b georgia f3 lh-copy no-underline" href="">Login</a></code>{% endif %}</div>      
    <div>{% if user.is_authenticated %}
        <div class="ph5 h3 flex items-center georgia light-blue f3 lh-copy"><i class="fas fa-user"></i> &nbsp <a class="b">{{ user.get_username }}</a></div>
        {% endif %}</div>
 </div><br><br>
  
  

  <center><h2 class="georgia ph5 h3 bb w-80 bw1 b--gold gold i f1">all destinations</h2></center><br>
 

  {% for destination in destinations %}
  <div class="w-90 ph6 b--light-blue bb">
    <div><a class="w-90 georgia gold b f2 lh-copy no-underline link grow dib" href="{{ destination.url }}">{{ destination.destination }}</a></div>
    {% if destination.url %}
    {% endif %}<br>

</div><br><br>

{% endfor %}

{% endblock %}

</html>