<!DOCTYPE html>
<head>
  {% block title %}<title>Voyager</title>{% endblock %}
  {% block meta %} {% endblock %}
  
</head> 

<html lang="en">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  {% load static %}
  <body>
  
    <div class="col-sm-10 ">
        <div class="h4 ph5 flex items-center bg-light-blue">
      <center><div><a class="link grow dib white b georgia f1 i no-underline" href="{% url 'index' %}">VOYAGER &nbsp<i class="white fas fa-globe-asia fa-1x"></i></a></div></center>
      </div>
  


      <div class="flex items-center"> 
        <div><code><a class="ph5 h3 flex items-center link bg-gold dim dib white b georgia f3 lh-copy no-underline" href="{% url 'destinations' %}">Destinations</a></code></div>        
        <div><code><a class="ph5 h3 flex items-center link bg-green dim dib white b georgia f3 lh-copy no-underline" href="{% url 'index' %}">Post</a></code></div>      
        
        
        <div><code><a class="ph5 h3 flex items-center link bg-dark-red dim dib white b georgia f3 lh-copy no-underline" href="{% url 'register' %}">Register</a></code></div>      
        <div>{% if user.is_authenticated %}<code><a class="ph5 flex items-center h3 link bg-light-blue dim dib white b georgia f3 lh-copy no-underline" href="">Logout</a></code>
        {% else %}<code><a class="ph5 h3 flex items-center link bg-light-blue dim dib white b georgia f3 lh-copy no-underline" href="">Login</a></code>{% endif %}</div>      
        <div>{% if user.is_authenticated %}
            <div class="ph5 h3 flex items-center georgia light-blue f3 lh-copy"><i class="fas fa-user"></i> &nbsp <a class="b">{{ user.get_username }}</a></div>
            {% endif %}</div>
     </div><br><br>
    
</div>


      
  <div class="col-sm-10 ">{% block content %}{% endblock %}

    
  </div>

</body>
</html>
