{% extends "base.html" %}

{% block content %}



  

  <center><h2 class="georgia ph5 h3 bb w-80 b--light-blue light-blue i f1">top voyages...</h2></center><br>
 

  {% for post in posts %}
  <div class="w-90 ph6 b--light-blue bb">
    <div><a class="w-90 georgia gold b f2 lh-copy no-underline link grow dib" href="{{ post.url }}">{{ post.destination }}</a></div>
    {% if post.url %}
    {% endif %}<br>

      <div class="w-90 athelas f4">

        <div>
          <strong>Site:</strong> {{ post.site_name }}
        </div><br>
        <div>
          <strong>Author:</strong> {{ post.author }}
        </div><br>
        <div>
          <strong>Description:</strong> {{ post.description }}
        </div><br>
        <div>
          <strong>Added:</strong> {{ post.date_added }}
        </div><br>
        <div>
          <strong>URL:</strong> {{ post.url }}
        </div><br>

      </div><br>

  <div class="flex items-center">
    <div><code><a class="link grow green fa-2x dib white b"><i class="fas fa-chevron-circle-up"></i></a></code></div>
    <div><code><a class="link grow dark-red fa-2x dib white b"><i class="fas fa-chevron-circle-down"></i></a></code></div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <div><code><a href="{% url 'comments' post_id=post.id %}"class="ph5 link grow ba b--white bg-light-blue dib white b georgia f4 lh-copy no-underline">Comments</a></code></div><br><br>
  </div><br><br><br>

</div><br><br>

{% endfor %}

{% endblock %}

